# Сборка будет происходить на VS 2017
image: Visual Studio 2017

# Папка, куда будет клонироваться проект
#clone_folder: c:\projects\my-prj

# Сборка будет происходить под x64
platform:
  - x64

# Собираться будет debug версия
configuration:
  - Debug

# Задание условий среды
environment:
  matrix:
    - TOOLCHAIN: msvc17

before_build:
- git submodule update --init --recursive
#- cmake -G "Visual Studio 15 2017 Win64" -DBUILD_TESTS=ON .

#build:
#  project: $(APPVEYOR_BUILD_FOLDER)\$(APPVEYOR_PROJECT_NAME).sln

#test_script:
  - '%APPVEYOR_BUILD_FOLDER%\%CONFIGURATION%\tests.exe'
  
# Cам скрипт
build_script:
- cmake -H. -B_build -DBUILD_TESTS=ON
- cmake --build _build
