# Сборка будет происходить на VS 2017
image: Visual Studio 2017

# Сборка будет происходить под x64
platform:
  - x64

# Собираться будет debug версия
configuration:
  - Debug
  - Release

# Задание условий среды
environment:
  matrix:
    - TOOLCHAIN: msvc17

before_build:
- git submodule update --init --recursive
  
build_script:
- cmake -H. -B_build
- cmake --build _build

test_script:
- '%APPVEYOR_BUILD_FOLDER%\_build\%CONFIGURATION%\tests.exe'
